<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
<script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>
</head>
<body>
	<div title="列表" style="color:red" id="list" class="listview">
	</div>  
<script type="text/javascript">
var ListView = Backbone.View.extend({  
    el : '#list'  
});  
var listview = new ListView();
  </script>
</body>
</html>